/* універсальний */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* класа */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
/* тега */
nav{

    flex: 1;
    text-align: right;

}
/* дочірній */
/*nav ul{
    list-style-type: none;
}*/
/* групування */
nav ul, nav li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: white;
}
p{
    color: rgb(0, 0, 0);
}
.container{
    max-width: 3000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #000000;
}
/* атрібута */
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.navbar .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #000000;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

